In [2]:
import pandas as pd
import numpy as np
import pydataset
import sklearn.preprocessing
import matplotlib.pyplot as plt
import wrangle
import env
import split_scale

In [3]:
df = wrangle.wrangle_telco()

In [4]:
df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df[['monthly_charges', 'tenure']]
y = df['total_charges']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state=123)

print('X_train:', X_train.shape)
print('X_test:', X_test.shape)
print('y_train:', y_train.shape)
print('y_test:', y_test.shape)

assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [5]:
X = df[['monthly_charges', 'tenure']]
y = df['total_charges']
X_train, X_test, y_train, y_test = split_scale.split_my_data(X, y, 0.8)

In [ ]:
print('X_train:', X_train.shape)
print('X_test:', X_test.shape)
print('y_train:', y_train.shape)
print('y_test:', y_test.shape)

In [18]:
X_train

      monthly_charges  tenure
119             75.50      70
1424            20.30      55
385            109.05      65
1140            98.30      70
1504           116.25      71
...               ...     ...
1131            19.85      65
1356            19.55      63
1416            19.85       7
1399            69.15      35
1544            26.10      10

[1348 rows x 2 columns]

In [ ]:
scaler = sklearn.preprocessing.StandardScaler()
X_train_scaled = X_train.copy()

X_test_scaled = X_test.copy()


scaler.fit(X_train)
X_train_scaled = pd.DataFrame(scaler.transform(X_train),columns=X_train.columns, index=X_train.index)
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns, index=X_test.index)

In [7]:
scaler, X_train_scaled, X_test_scaled = split_scale.standard_scaler(X_train, X_test)

In [8]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [9]:
X_train_scaled

      monthly_charges    tenure
119          0.419607  0.729412
1424        -1.169158 -0.130571
385          1.385242  0.442751
1140         1.075836  0.729412
1504         1.592472  0.786745
...               ...       ...
1131        -1.182109  0.442751
1356        -1.190744  0.328087
1416        -1.182109 -2.882519
1399         0.236842 -1.277216
1544        -1.002222 -2.710522

[1348 rows x 2 columns]

In [11]:
scaler, X_train_unscaled, X_test_unscaled = split_scale.scale_inverse(scaler, X_train_scaled, X_test_scaled)

In [ ]:
scaler = sklearn.preprocessing.StandardScaler()
scaler.fit(X_train)
train_unscaled = pd.DataFrame(scaler.inverse_transform(X_train_scaled), columns=X_train_scaled.columns.values).set_index([X_train.index.values])

In [12]:
X_train_unscaled

      monthly_charges  tenure
119             75.50    70.0
1424            20.30    55.0
385            109.05    65.0
1140            98.30    70.0
1504           116.25    71.0
...               ...     ...
1131            19.85    65.0
1356            19.55    63.0
1416            19.85     7.0
1399            69.15    35.0
1544            26.10    10.0

[1348 rows x 2 columns]

In [13]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
scaler = sklearn.preprocessing.QuantileTransformer(n_quantiles=100, output_distribution='uniform', random_state=123, copy=True).fit(X_train)

X_train_scaled = pd.DataFrame(scaler.transform(X_train), columns=X_train.columns.values).set_index([X_train.index.values])
X_test_scaled = pd.DataFrame(scaler.transform(X_test), columns=X_test.columns.values).set_index([X_test.index.values])

In [14]:
X_train_scaled

      monthly_charges    tenure
119          0.419607  0.729412
1424        -1.169158 -0.130571
385          1.385242  0.442751
1140         1.075836  0.729412
1504         1.592472  0.786745
...               ...       ...
1131        -1.182109  0.442751
1356        -1.190744  0.328087
1416        -1.182109 -2.882519
1399         0.236842 -1.277216
1544        -1.002222 -2.710522

[1348 rows x 2 columns]

In [16]:
scalar, X_train_scaled, X_test_scaled = split_scale.uniform_scaler(X_train, X_test)

In [17]:
X_train_scaled

      monthly_charges    tenure
119          0.580710  0.686869
1424         0.181818  0.323232
385          0.898309  0.515152
1140         0.800304  0.686869
1504         0.987325  0.752525
...               ...       ...
1131         0.106061  0.515152
1356         0.050505  0.469697
1416         0.106061  0.012956
1399         0.537407  0.121212
1544         0.368538  0.025253

[1348 rows x 2 columns]

In [ ]:
scalar, X_train_scaled, X_test_scaled = split_scale.gaussian_scaler(X_train, X_test)

In [ ]:
X_train_scaled

In [ ]:
X_train_scaled.hist()

In [ ]:
scalar, X_train_scaled, X_test_scaled = split_scale.min_max_scaler(X_train, X_test)

In [ ]:
X_train_scaled.hist()

In [ ]:
scalar, X_train_scaled, X_test_scaled = split_scale.iqr_robust_scaler(X_train, X_test)

In [ ]:
X_train_scaled.hist()