In [2]:
import pandas as pd

### Attendance Data

### Load the attendance.csv file and calculate an attendnace percentage for each student. One half day is worth 50% of a full day, and 10 tardies is equal to one absence.

### You should end up with something like this:

In [12]:
df = pd.read_csv('untidy-data/attendance.csv')

In [19]:
df

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [24]:

print(df.columns.values)
df['Unnamed: 0']

['Unnamed: 0' '2018-01-01' '2018-01-02' '2018-01-03' '2018-01-04'
 '2018-01-05' '2018-01-06' '2018-01-07' '2018-01-08']

0    Sally
1     Jane
2    Billy
3     John
Name: Unnamed: 0, dtype: object

In [63]:
df = pd.read_csv('untidy-data/attendance.csv')
df = pd.melt(df, id_vars = ['Unnamed: 0'], var_name = ['Date'], value_name = 'Attendance')
df = df.rename(columns = {'Unnamed: 0': 'Student'})
df = df.replace({'P': 1, 'A': 0, 'H': 0.5, 'T': 0.9})

In [67]:
df.groupby('Student').mean()

         Attendance
Student
Billy        0.5250
Jane         0.6875
John         0.9125
Sally        0.7625

### Coffee Levels

Read the coffee_levels.csv file.\
Transform the data so that each carafe is in it's own column.\
Is this the best shape for the data?

In [83]:
df = pd.read_csv('untidy-data/coffee_levels.csv')
df = df.pivot(index='hour', columns='coffee_carafe')
df.columns = df.columns.droplevel()
df.columns.name = ''
df = df.reset_index()

In [84]:
df

   hour         x         y         z
0     8  0.816164  0.189297  0.999264
1     9  0.451018  0.521502  0.915990
2    10  0.843279  0.023163  0.144928
3    11  0.335533  0.235529  0.311495
4    12  0.898291  0.017009  0.771947
5    13  0.310711  0.997464  0.398520
6    14  0.507288  0.058361  0.864464
7    15  0.215043  0.144644  0.436364
8    16  0.183891  0.544676  0.280621
9    17  0.391560  0.594126  0.436677

Cake Recipes

Read the cake_recipes.csv data. This data set contains cake tastiness scores for combinations of different recipes, oven rack positions, and oven temperatures.\
Tidy the data as necessary.\
Which recipe, on average, is the best? recipe b\
Which oven temperature, on average, produces the best results? 275\
Which combination of recipe, rack position, and temperature gives the best result? recipe b, bottom rack, 300 degrees

In [112]:
df = pd.read_csv('untidy-data/cake_recipes.csv')
df = df.melt(id_vars = 'recipe:position')
rec_pos = df['recipe:position'].str.split(':', expand = True)
rec_pos.columns = ['recipe', 'position']
df = pd.concat([df, rec_pos], axis =1).drop(columns = 'recipe:position')
df = df.rename(columns = {'variable': 'Temperature', 'value' : 'taste_score', 'position': 'rack_position'})

In [125]:
df.head()

  Temperature  taste_score recipe rack_position
0         225    61.738655      a        bottom
1         225    51.709751      a           top
2         225    57.095320      b        bottom
3         225    82.455004      b           top
4         225    96.470207      c        bottom

In [114]:
df.groupby('recipe').mean()

        taste_score
recipe
a         63.922201
b         76.736074
c         75.874748
d         62.864844

Recipe B is the best

In [115]:
df.groupby('Temperature').mean()

             taste_score
Temperature
225            71.306022
250            66.577437
275            74.886754
300            66.627655

275F oven temp results in best taste

In [130]:
df.groupby(['Temperature', 'recipe', 'rack_position']).size()

Temperature  recipe  rack_position
225          a       bottom           1
                     top              1
             b       bottom           1
                     top              1
             c       bottom           1
                     top              1
             d       bottom           1
                     top              1
250          a       bottom           1
                     top              1
             b       bottom           1
                     top              1
             c       bottom           1
                     top              1
             d       bottom           1
                     top              1
275          a       bottom           1
                     top              1
             b       bottom           1
                     top              1
             c       bottom           1
                     top              1
             d       bottom           1
                     top              1
300          a       bottom           1
                     top              1
             b       bottom           1
                     top              1
             c       bottom           1
                     top              1
             d       bottom           1
                     top              1
dtype: int64